<div id="<%= dom_id exchange %>">
  <p>
    <strong>Name:</strong>
    <%= exchange.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= exchange.logo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= exchange.status %>
  </p>

</div>
