<section class="how-work-sec section-padding" id="how_work">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="section-title-item"><small class="xs-section-title">空頭</small>
					<h2 class="section-title">精選項目</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-duration="1.5s">
				<div class="xs-count-down">
					<h3 class="xs-single-title">DAWN</h3>
					<ul class="xs-counter-list">
						<li><strong id="xs_days">2024</strong><span>年</span></li>
						<li><strong id="xs_hours">8</strong><span>月</span></li>
						<li><strong id="xs_minuts">7</strong><span>日</span></li>
						<!-- <li><strong id="xs_second">24</strong><span>Second</span></li> -->
					</ul>
					<div class="xs-progress-bar"><span class="progess-text-1">預計空頭額度</span><span class="progess-text-2">15%</span>
						<div class="xs-bar">
								<div class="bar-bg"></div>
						</div>
					</div>
					<div class="btn-wrapper text-center"><a href="/home/airdrop" class="btn btn-primary">發現更多</a></div>
				</div>
			</div>
			<div class="col-lg-3 offset-lg-1 col-md-6 align-self-center wow fadeInUp" data-wow-duration="2s">
				<div class="work-token-item">
					<ul>
						<li><strong>完成250萬美金融資</strong><span>Dec, 2024</span></li>
						<li><strong>完成1800萬美金融資</strong><span>Aug, 2024</span></li>
						<li><strong>完成1500萬美金A輪融資</strong><span>Feb, 2023</span></li>
						<li><strong>標籤</strong><span>IOT, DePin</span></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 align-self-center col-md-12 wow fadeInUp" data-wow-duration="2.5s">
				<!-- <div class="work-video"> -->
				<div class="work-video">
					<%= image_tag "how-works/dawn.jpg" %>
					<!-- <a href="https://www.youtube.com/watch?v=2X9eJF1nLiY" class="video-btn xs-video" data-effect="mfp-zoom-in">
						<i class="icon icon-play-button2"></i>
						<span class="btn-hover-anim"></span>
					</a> -->
				</div>
			</div>
		</div>
	</div>
</section>