<!-- blog section start -->
<section class="blog-sec section-padding" id="blog">
	<div class="container">
			<div class="row">
					<div class="col-lg-8 mx-auto">
							<div class="section-title-item"><small class="xs-section-title">Media Coverage</small>
									<h2 class="section-title">Blog and Media</h2>
							</div>
					</div>
			</div>
			<!-- row end -->
			<div class="row">
					<div class="col-lg-7 wow fadeInUp" data-wow-duration="1.5s">
							<div class="blog-featured-post">
									<a href="#">
											<div class="blog-feaured-img"><%= image_tag "blog/blog-featured-img.jpg" %></div>
											<div class="blog-featured-content">
												<span class="post-meta-date">20 August,2018</span>
												<h3 class="xs-blog-title">Poor Communication Undermines the Bitcoin Ecosystem. </h3>
											</div>
									</a>
							</div>
					</div>
					<!-- Col End -->
					<div class="col-lg-5 wow fadeInUp" data-wow-duration="2s">
							<div class="blog-post">
									<div class="single-blog-post media">
											<div class="d-flex post-img"><%= image_tag "blog/blog_post_1.jpg", alt: "blog post image", draggable: "false" %></div>
											<div class="media-body">
												<span class="post-meta-date">21 August,2018 </span>
												<h4 class="xs-post-title">
													<a href="">IBM Reimagines Proof-of-Work for Blockchain IoT Devices</a>
												</h4>
											</div>
									</div>
									<!-- single-blog-post End -->
									<div class="single-blog-post media">
											<div class="d-flex post-img"><%= image_tag "blog/blog_post_2.jpg", alt: "blog post image", draggable: "false" %></div>
											<div class="media-body">
												<span class="post-meta-date">21 August,2018 </span>
												<h4 class="xs-post-title">
													<a href="blog-single.html">NASDAQ CEO Open Crypto NASDAQ Collaborating with Gemini</a>
												</h4>
											</div>
									</div>
									<!-- single-blog-post End -->
									<div class="single-blog-post media">
											<div class="d-flex post-img"><%= image_tag "blog/blog_post_3.jpg", alt: "blog post image", draggable: "false" %></div>
											<div class="media-body">
												<span class="post-meta-date">21 August,2018 </span>
												<h4 class="xs-post-title">
													<a href="blog-single.html">Crypto is Back Bull Mode,What Can We Learn From This?</a>
												</h4>
											</div>
									</div>
									<!-- single-blog-post End -->
							</div>
							<!-- blog post End -->
					</div>
					<!-- Col End -->
			</div>
			<!-- Row End -->
	</div>
</section>