<section class="blog-sec section-padding" id="blog">
	<div class="container">
			<div class="row">
					<div class="col-lg-8 mx-auto">
							<div class="section-title-item"><small class="xs-section-title">基金</small>
									<h2 class="section-title">基金產品</h2>
							</div>
					</div>
			</div>
			<!-- row end -->
			<div class="row">
					<div class="col-lg-7 wow fadeInUp" data-wow-duration="1.5s">
							<div class="blog-featured-post">
									<a href="#">
											<div class="blog-feaured-img"><%= image_tag "blog/blog-featured-img.jpg" %></div>
											<div class="blog-featured-content">
												<span class="post-meta-date">價值一號基金</span>
												<h3 class="xs-blog-title">由全球前五加密資產組成。</h3>
											</div>
									</a>
							</div>
					</div>
					<!-- Col End -->
					<div class="col-lg-5 wow fadeInUp" data-wow-duration="2s">
							<div class="blog-post">
									<div class="single-blog-post media">
											<div class="d-flex post-img"><%= image_tag "blog/blog_post_1.jpg", alt: "blog post image", draggable: "false" %></div>
											<div class="media-body">
												<span class="post-meta-date">價值二號基金</span>
												<h4 class="xs-post-title">
													<a href="">由全球前六至十加密資產組成</a>
												</h4>
											</div>
									</div>
									<!-- single-blog-post End -->
									<div class="single-blog-post media">
											<div class="d-flex post-img"><%= image_tag "blog/blog_post_2.jpg", alt: "blog post image", draggable: "false" %></div>
											<div class="media-body">
												<span class="post-meta-date">價值三號基金</span>
												<h4 class="xs-post-title">
													<a href="blog-single.html">由全球前十一至二十加密資產組成</a>
												</h4>
											</div>
									</div>
									<!-- single-blog-post End -->
							</div>
							<!-- blog post End -->
					</div>
					<!-- Col End -->
			</div>
			<!-- Row End -->
	</div>
</section>