<section class="roadmap-sec section-padding">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="section-title-item"><small class="xs-section-title">過程</small>
					<h2 class="section-title">路線圖</h2>
				</div>
			</div>
		</div>
			
		<div class="roadmap-timeline"><%= image_tag "roadmap/timelinered.png" %>
			<div class="custom-container container">
				<div class="row roadmap-timeline-item">
					<div class="col-md xs-roadmap wow fadeInUp" data-wow-duration="1.5s">
						<div class="single-roadmap-timeline"><b></b>
							<h3>April 2013</h3>
							<p>首次參與區塊鏈資產交易</p>
						</div>
					</div>
					<div class="col-md xs-roadmap wow fadeInUp" data-wow-duration="2s">
						<div class="single-roadmap-timeline"><b></b>
							<h3>April 2016</h3>
							<p>管理達到2000萬美金的里程碑 </p>
						</div>
					</div>
					<div class="col-md xs-roadmap wow fadeInUp" data-wow-duration="2.5s">
						<div class="single-roadmap-timeline"><b></b>
							<h3>March 2017</h3>
							<p>創建專業的資產管理團隊 & 成立和規劃的公司 </p>
						</div>
					</div>
					<div class="col-md xs-roadmap wow fadeInUp" data-wow-duration="3s">
						<div class="single-roadmap-timeline"><b></b>
							<h3>May 2018</h3>
							<p>為客戶獲得100倍以上的盈利 </p>
						</div>
					</div>
					<div class="col-md xs-roadmap wow fadeInUp" data-wow-duration="3.5s">
						<div class="single-roadmap-timeline"><b></b>
							<h3>June 2024</h3>
							<p>為客戶獲得10倍以上的盈利 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</div>
</section>