<!-- <section class="team-sec section-padding" id="team"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
	integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
<section id="team" style="padding: 100px 0;">
		<div class="container">
				<div class="row">
						<div class="col-lg-8 mx-auto">
								<div class="section-title-item"><small class="xs-section-title">我們的專家</small>
										<h2 class="section-title">團隊成員</h2>
								</div>
						</div>
				</div>
				<!-- row end -->
				<div class="row">
						<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1.5s">
								<div class="single-team">
										<div class="team-img"><%= image_tag "team/team_1.jpg" %>
												<div class="team-social">
													<a href="#"><i class="bi bi-facebook"></i></a>
													<a href="#"><i class="bi bi-twitter-x"></i></a>
													<a href="#"><i class="bi bi-linkedin"></i></a>
												</div>
										</div>
										<div class="team-content">
												<h3 class="xs-title md">James</h3>
												<p>首席執行官</p>
										</div>
								</div>
						</div>
						<!-- Col End -->
						<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="2s">
								<div class="single-team">
										<div class="team-img"><%= image_tag "team/team_2.jpg" %>
												<div class="team-social">
													<a href="#"><i class="bi bi-facebook"></i></a>
													<a href="#"><i class="bi bi-twitter-x"></i></a>
													<a href="#"><i class="bi bi-linkedin"></i></a>
												</div>
										</div>
										<div class="team-content">
												<h3 class="xs-title md">Lorany</h3>
												<p>市場專家</p>
										</div>
								</div>
						</div>
						<!-- Col End -->
						<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="2.5s">
								<div class="single-team">
										<div class="team-img"><%= image_tag "team/team_3.jpg" %>
												<div class="team-social">
													<a href="#"><i class="bi bi-facebook"></i></a>
													<a href="#"><i class="bi bi-twitter-x"></i></a>
													<a href="#"><i class="bi bi-linkedin"></i></a>
												</div>
										</div>
										<div class="team-content">
												<h3 class="xs-title md">Michel</h3>
												<p>首席技術官</p>
										</div>
								</div>
						</div>
						<!-- Col End -->
						<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="3s">
								<div class="single-team">
										<div class="team-img"><%= image_tag "team/team_4.jpg" %>
												<div class="team-social">
													<a href="#"><i class="bi bi-facebook"></i></a>
													<a href="#"><i class="bi bi-twitter-x"></i></a>
													<a href="#"><i class="bi bi-linkedin"></i></a>
												</div>
										</div>
										<div class="team-content">
												<h3 class="xs-title md">Katie</h3>
												<p>交易專家</p>
										</div>
								</div>
						</div>
						<!-- Col End -->
				</div>
				<!-- Row End -->
		</div>
</section>