<section class="featured-sec" id="featured">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="section-title-item"><small class="xs-section-title">主要特點</small>
					<h2 class="section-title">交易</h2>
				</div>
			</div>
		</div>
		<div class="main-fetured-item">
			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-duration="1.5s">
					<div class="single-feaured-item"><%= image_tag "feature/icon-1.png" %>
						<h3 class="feature-title">全球市場，一觸即達</h3>
						<p>通過API無縫對接幣安、Coinbase等主流交易所，覆蓋全球數字資產市場，實時捕捉每一個交易機會。</p>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-duration="2s">
					<div class="single-feaured-item"><%= image_tag "feature/icon-2.png" %>
						<h3 class="feature-title">安全高效，盡在掌握</h3>
						<p>資產始終留在交易所，徹底消除安全顧慮。低成本、高效率，讓您的財富始終由您掌控。</p>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-duration="2.5s">
					<div class="single-feaured-item"><%= image_tag "feature/icon-3.png" %>
						<h3 class="feature-title">AI量化，精準增值</h3>
						<p>結合AI智能與量化策略，助您精準決策，解放思維，實現財富的保值與增值。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="featured-poligonal-img wow fadeInUp" data-wow-duration="1.5s"><%= image_tag "feature/poligonal.png" %></div>
	</div>
</section>