<%= render 'layouts/header' %>
<section class="banner-sec" id="particles-js1">
	<div class="banner-item" style="background: url(<%= asset_path('background/banner_bg.jpg') %>) no-repeat center center /cover">
		<div class="container">
      <div class="row g-3">
				<!-- <div class="col-sm-12 mx-auto main-fetured-item">
				</div> -->

        <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-duration="1.5s">
          <div class="xs-count-down">
            <h3 class="xs-single-title">
              <a href="#" class="btn btn-success btn-border btn-lg w-75 fw-bold mb-3">一星代理</a>
            </h3>
            
            <div class="xs-progress-bar">
              <span class="progess-text-1">邀請人數</span>
              <span class="progess-text-2">1～5</span>
              <br/>
              <span class="progess-text-1">邀請資金</span>
              <span class="progess-text-2">10～100k (U)</span>
              <br/>
              <span class="progess-text-1">獎勵金額（被邀請人收益）</span>
              <span class="progess-text-2">5%</span>
              <br/>
              <span class="progess-text-1">月度分紅</span>
              <span class="progess-text-2">1%</span>
              <br/>
              <span class="progess-text-1">年度分紅</span>
              <span class="progess-text-2">1%</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-duration="1.5s">
          <div class="xs-count-down">
            <h3 class="xs-single-title">
              <a href="#" class="btn btn-primary btn-border btn-lg w-75 fw-bold mb-3">二星代理</a>
            </h3>
            
            <div class="xs-progress-bar">
              <span class="progess-text-1">邀請人數</span>
              <span class="progess-text-2">6～15</span>
              <br/>
              <span class="progess-text-1">邀請資金</span>
              <span class="progess-text-2">101～1000k (U)</span>
              <br/>
              <span class="progess-text-1">獎勵金額（被邀請人收益）</span>
              <span class="progess-text-2">10%</span>
              <br/>
              <span class="progess-text-1">月度分紅</span>
              <span class="progess-text-2">3%</span>
              <br/>
              <span class="progess-text-1">年度分紅</span>
              <span class="progess-text-2">3%</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-duration="1.5s">
          <div class="xs-count-down">
            <h3 class="xs-single-title">
              <a href="#" class="btn btn-danger btn-border btn-lg w-75 fw-bold mb-3">三星代理</a>
            </h3>
            
            <div class="xs-progress-bar">
              <span class="progess-text-1">邀請人數</span>
              <span class="progess-text-2">16～</span>
              <br/>
              <span class="progess-text-1">邀請資金</span>
              <span class="progess-text-2">1M～ (U)</span>
              <br/>
              <span class="progess-text-1">獎勵金額（被邀請人收益）</span>
              <span class="progess-text-2">15%</span>
              <br/>
              <span class="progess-text-1">月度分紅</span>
              <span class="progess-text-2">5%</span>
              <br/>
              <span class="progess-text-1">年度分紅</span>
              <span class="progess-text-2">5%</span>
            </div>
          </div>
        </div>
        
			</div>
    
		</div>
	</div>
</section>

<div class="blog-and-footer-area">
	<%= render "layouts/footer" %>
</div>



