<div id="<%= dom_id exchange_coin %>">
  <p>
    <strong>Exchange:</strong>
    <%= exchange_coin.exchange_id %>
  </p>

  <p>
    <strong>Coin:</strong>
    <%= exchange_coin.coin_id %>
  </p>

</div>
