<footer class="xs-footer-sec">
  <div class="container">
    <div class="footer-area">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget">
            <div class="footer-logo"><a href="/"><%= image_tag "logo.svg", width: 60, alt: "Logo" %></a></div>
            <p>一種更好的方式來管理你的錢，現在可以在 ValueSwap。</p>
          </div>
        </div>

        <div class="col-lg-2 offset-lg-1 col-sm-6">
          <div class="footer-widget">
            <h4 class="widget-title">價值交換</h4>
            <ul>
              <li><a href="#">量化交易</a></li>
              <li><a href="#">空頭情報</a></li>
              <li><a href="#">基金管理</a></li>
              <li><a href="#">代理計畫</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-sm-6">
          <div class="footer-widget support">
            <h4 class="widget-title">幫助中心</h4>
            <ul>
              <li><a href="#">關於我們</a></li>
              <li><a href="#">如何交易</a></li>
              <li><a href="#">空頭教程</a></li>
              <li><a href="#">代理資格</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 offset-lg-1 col-sm-6">
          <div class="footer-widget">
            <h4 class="widget-title">聯繫我們</h4>
            <ul>
              <li><%= mail_to "support@valueswap.club", subject: "來自官網的支持請求" %></li>
              <li>Telegram: @valueswap</li>
              <li>Twitter（X）: @valueswap</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <p>Copyright © 2025 By <a href="#">ValueSwap</a></p>
    </div>
  </div>
</footer>